@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'iranyekan';
  src: local('iranyekan'), url(assets/fonts/iranyekan.ttf) format('truetype');
}
body {
  direction: rtl;
  background-color:#E5E5E5;
  margin: 0;
  font-family: -apple-system,iranyekan, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.borderError{
  border: 1px solid #DD1C1C;
}
